// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  width: 220px;
  height: 55px;

  border: 0;
  border-radius: 10px;

  font-weight: 700;
  font-size: $font-size-3;

  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(3px);
  }

  &-primary {
    color: #ffffff;
    background-color: #ffe345;
    background-image: linear-gradient(180deg, #ffe345 0%, #ffc222 100%);

    // #8fdf50
  }

  &-secondary {
    background-color: transparent;
    border: 2px solid #ffe345;

    margin-left: 15px;

    @include breakpoint($breakpoint-mobile-small) {
      margin-left: 0;
    }
  }

  &-shadow {
    box-shadow: 0 0 10px 0 #ffe345;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
