.input {
  box-sizing: border-box;
  min-height: 70px;
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 0 20px;
  transition: all 0.3s ease;

  &-text {
    width: 100%;
  }

  &-shadow {
    background: #f7f7f7;
    box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.04);
  }

  &-error {
    background-color: #ffe0e0;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 20px 0;

  input {
    margin-right: 10px;
  }
  span {
    margin-left: 10px;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
}

.checkbox label::before,
.checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.checkbox label::before {
  top: 3px;
  left: -20px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}

.checkbox label::after {
  content: url("../img/icons/check.svg");
  top: 3px;
  left: -19px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: url("../img/icons/check.svg");

  .checkbox input[type="checkbox"] + label::after {
    content: none;
  }
  .checkbox input[type="checkbox"]:checked + label::after {
    content: url("../img/icons/check.svg");
  }
}
