// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 10px;
}

.section-text {
  margin-bottom: 20px;
}