// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: 'Nunito', sans-serif;
}

.nav-link {
  color: #353535;
  font-size: $font-size-3;
  font-weight: 500;

  @include breakpoint($breakpoint-laptop) {
    font-size: $font-size-4;
  }
}

.callback {
  &-info {
    font-size: $font-size-5;
    color: #c5c5c5;
  }

  &-phone {
    font-size: $font-size-2;
    font-weight: 600;
    color: #000000;
  }
}

.section-title {
  font-size: $font-size-1;
  text-transform: uppercase;

  @include breakpoint($breakpoint-tablet-small) {
    font-size: $font-size-1 - 6;
  }

  @include breakpoint($breakpoint-mobile-large) {
    text-align: center;
    line-height: 35px;
  }
}

.section-subtitle {
  font-size: $font-size-3;
}

.section-text {
  font-size: $font-size-3;
  line-height: 26px;

  @include breakpoint($breakpoint-mobile-small) {
    text-align: justify;
  }
}