// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: "Open Sans", sans-serif;
}

.nav-link {
  color: #353535;
  font-size: $font-size-3;
  font-weight: 500;

  @include breakpoint($breakpoint-laptop) {
    font-size: $font-size-4;
  }
}

.callback {
  &-info {
    font-size: $font-size-5;
    color: #c5c5c5;
  }

  &-phone {
    font-size: $font-size-2;
    font-weight: 600;
    color: #000000;
  }
}

.section-title {
  font-size: $font-size-1;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: $font-size-3;
}

.section-text {
  font-size: $font-size-3;
  line-height: 26px;
}