// -----------------------------------------------------------------------------
// В этом файле находятся все основные SASS - Переменные
// -----------------------------------------------------------------------------

// Основной цвет
$palette-primary: #ffffff;

// Брейкпоинты для адаптива
$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;

// Максимальная ширина контейнера
$container-max-width: 1240px;

// Брейкпоинты для адаптива
$breakpoint-laptop: max-width 1075px;
$breakpoint-tablet: max-width 768px;
$breakpoint-mobile-large: max-width 425px;
$breakpoint-mobile-large: max-width 375px;
$breakpoint-mobile-large: max-width 320px;