// -----------------------------------------------------------------------------
// В этом файле находятся все основные SASS - Переменные
// -----------------------------------------------------------------------------

// Основной цвет
$palette-primary: #ffffff;

// Переменные размеров шрифтов
$font-size-0: 48px;
$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;

// Максимальная ширина контейнера
$container-max-width: 1240px;

// Брейкпоинты для адаптива
$breakpoint-laptop: max-width 1075px;
$breakpoint-tablet: max-width 945px;
$breakpoint-tablet-small: max-width 740px;
$breakpoint-mobile-large: max-width 530px;
$breakpoint-mobile-medium: max-width 375px;
$breakpoint-mobile-small: max-width 320px;