#about {
  .gallery-photo {
    max-width: 285px;
    height: 285px;

    object-fit: cover;

    @include breakpoint($breakpoint-laptop) {
      max-width: none;
    }
  }

  .swiper-about-controls {
    @include breakpoint($breakpoint-tablet-small) {
      justify-content: space-between;
      margin: 15px 0;
    }
  }
}

.swiper-about {
  margin-bottom: 10px;
}