#about {
  .gallery-photo {
    max-width: 285px;
    height: 285px;

    object-fit: cover;

    @include breakpoint($breakpoint-laptop) {
      max-width: none;
    }
  }
}

.swiper-about {
  margin-bottom: 10px;
}