#advantages {
  background-color: #383d45;
  color: #ffffff;

  .section-title {
    text-align: center;
  }
}

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint($breakpoint-laptop) {
    justify-content: center;
  }

  margin-top: 50px;
}

.advantage {
  text-align: center;
  width: 14%;
  line-height: 22px;

  @include breakpoint($breakpoint-laptop) {
    width: 33%;
  }

  &-icon {
    width: 100%;
    max-width: 70px;
  }

  &-title {
    margin: 20px 0;
    font-weight: 500;
    font-size: $font-size-4;
    text-transform: uppercase;
  }
}
