// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

footer {
  background-color: #f9fcff;

  padding: 55px 0;

  @include breakpoint($breakpoint-tablet-small) {
    margin-top: 150px;
  }

  .row {
    @include last-child {
      margin-top: 40px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 0 40px;
    }

    @include breakpoint($breakpoint-tablet-small) {
      flex-direction: column;
      justify-content: center;
    }
  }

  nav {
    margin-left: 30px;

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  .callback-wrapper {
    margin-left: auto;

    @include breakpoint($breakpoint-tablet-small) {
      margin-left: 0;
      margin-top: 30px;
    }

    .callback-info {
      @include breakpoint($breakpoint-tablet-small) {
        text-align: center;
      }
    }
  }

  .company-info {
    margin-right: 40px;

    @include breakpoint($breakpoint-tablet-small) {
      margin-right: 0;
      text-align: center;
    }
  }

  .politics {
    @include breakpoint($breakpoint-tablet-small) {
      margin-top: 20px;
    }
  }
}
