// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

header {
  box-shadow: 0 8px 90px 0 rgba(0, 0, 0, 0.06);

  @include breakpoint($breakpoint-tablet) {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }

  .container {
    display: flex;
    align-items: center;

    height: 80px;
  }

  nav {
    margin-left: 50px;

    @include breakpoint($breakpoint-laptop) {
      margin-left: 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  .callback-wrapper {
    margin-left: auto;
    margin-right: 20px;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  button {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  .logo-link {
    max-width: 235px;

    @include breakpoint($breakpoint-laptop) {
      max-width: 200px;
    }
  }

  .logo-img {
    width: 100%;
  }
}
