#hero {
  height: 450px;
  padding-top: 0;

  @include breakpoint($breakpoint-tablet) {
    margin-top: 80px;
  }

  @include breakpoint($breakpoint-mobile-large) {
    height: 300px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    height: 100%;
  }

  .hero-content {
    width: 50%;
  }

  .hero-text {
    width: 100%;
    max-width: 500px;
  }

  .title {
    margin-bottom: 30px;
    line-height: 55px;
    font-size: $font-size-0;
  }

  .subtitle {
    margin-bottom: 30px;
    line-height: 25px;
  }

  .swiper-hero {
    width: 50%;
  }
}
