#mobile-menu {
  .mobile-menu-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    visibility: hidden;
  }

  .is-open {
    visibility: visible;

    .menu-wrapper {
      transform: translateX(0%);
    }

    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    transition: opacity 0.2s ease;

  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%;

    margin-left: auto;
    background-color: #ffffff;

    transform: translateX(100%);
    transition: all 0.3s ease;

    @include breakpoint($breakpoint-tablet-small) {
      width: 50%;
    }
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 17px;
    margin-right: 10px;
    margin-left: 25px;

    .logo-link {
      width: 80%;
    }

    .logo-img {
      width: 100%;
    }

    .nav-mobile-button {
      margin-left: 30px;
      padding: 0;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 20px;
        height: 2px;
      }
    }
  }

  .nav-navbar {
    flex-direction: column;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 30px;
  }

  .nav-item {
    width: 90%;

    padding: 15px;

    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(5px);
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid #e0e0e0;
      width: 100%;
      margin-top: 10px;
    }
  }

  .nav-link {
    font-size: $font-size-3;
  }

  .callback-wrapper {
    margin-top: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .button {
    margin: 0 auto 30px auto;
  }
}
