#services {
  input {
    display: none;
  }
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.service {
  &-card {
    width: 49%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(5px);
    }
  }

  &-img {
    width: 100%;
  }

  &-title {
    margin-top: 10px;
  }
}
